.contenido-seleccion-pizza{
  padding: 20px;
  height: 150px;
}

.custom-select{
  font-weight: 700;
  width: 117px;
  font-size: 17px;
}

.contenido-checkbox-ingredientes{
  display: flex;
}

.contenido-sabores-pizzas{
  height: 185px;
}

.custom-select{
  width: 140px;
}

label{
  font-weight: 700;
}